<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LoL</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <!-- si haces CSS local:
    <link rel="stylesheet" href="/css/styles.css">
    -->
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title"><a href="/personajes">League of Legends</a></h1>
        <p class="subtitle">Express + EJS</p>
        <div class="buttons">
          <a class="button is-link" href="/personajes">Inicio</a>
          <a class="button is-primary" href="/personajes/new">Nuevo personaje</a>
          <a class="button is-light" href="/gwen">Gwen</a>
          <a class="button is-info is-light" href="/personajes/about">About</a>
        </div>
        <hr>