<section>
    <footer class="footer">
    <div class="content has-text-centered">
        <p>
        <strong>Destinos Clandestinos</strong>  es una historia creada por <a href="https://www.instagram.com/cesaraguilar_ud/">César Kuri</a>
        </p>
    </div>
    </footer>

</section>
    
    </body>
</html>