      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Laboratorio 13 - TC2005B</strong> por <a href="#">Cyber</a>
        </p>
      </div>
    </footer>
  </body>
</html>
