body { 
    font-family: "Helvetica", "Arial", sans-serif;
}

li {
    color: darkgray;
}

.tanque { /* Clases */
    color: red;
}

#vi { /* Identificador */
    font-size: large;
}

.tanque:hover{ /* Cuando el mouse pase sobre la palabra */
    font-size: larger;
}